$color-principal: rgba(226, 49, 49, 0.932);
$background-color-principal: rgba(238, 186, 186, 0.842);
$background-color-secundario: #00061a;
$background-color-blanco: #ffffff;
$background-color-redG: linear-gradient(90deg, rgba(226, 49, 49, 0.932) 0%, rgba(238, 186, 186, 0.842) 100%);
$gradiente-azul: linear-gradient(to bottom, rgba(0, 0, 255, 0.932) 0%, #fff);
$color-dorado: #ffd700;
$sombra: 0px 4px 8px #222017dc;
$bg-ocuro: #000000;
$bg-dorado-metalico: linear-gradient(135deg,
    #b8860b 0%,
    #ffd700 25%,
    #fff8dc 50%,
    #ffd700 75%,
    #b8860b 100%
);
@mixin parrafos{
    color: $color-dorado;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 10px;

}
@mixin titulos{
    color: $color-dorado;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
@mixin card700{
    background: $bg-ocuro;
    color: $color-dorado;
    padding: 30px;
    border: solid 0.5px rgba(128, 128, 128, 0.685);
    border-radius: 10px;
    text-align: center;
    box-shadow: $sombra;
    height: 100%;
    width: 100%;
    font-size: auto;
}
@mixin card{
    background: $bg-ocuro;
    color: $color-dorado;
    padding: 10px 20px;
    border: solid 0.5px rgba(128, 128, 128, 0.685);
    border-radius: 10px;
    text-align: center;
    box-shadow: $sombra;

}
@mixin barra{
    padding: 1rem;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;

}
body{
    background-image: url(./imagenes/bg-imgen1.jpg);
    color: $color-principal;
    font-family: Arial, sans-serif;
}
.barra{
    @include barra;
    font-size: 20px;
    color: $color-dorado;
    padding: 0;
    width: 100%;


}
.logo{
    width: 100px;
    margin-right: 20px;
    position: relative;
    left: 10px;
}
.imagenPrincipal{
    height: 100%;
    width: 100%;
    height: auto;
    &:hover{
        transform: scale(1.1);
        transition: all 2s ease;
    }
}

.card{
    @include card;
    font-size: 25px ;
    margin-bottom: 10px;
    &:hover{
        background-color: $background-color-blanco;
    }   
}
a {
    text-decoration: none;
    color:inherit
}
.contacto{
    @include card;
    display: flex;
    flex-direction: column;
    margin:auto;
    width: 100%;
    padding: 0;

}
.wspIcon{
    width: 30px;
    margin-right: 10px;
}


@media(min-width:700px){

    main {
height: auto;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 3px;
grid-row-gap: 2px;
}

.imagen{ grid-area: 1 / 1 / 3 / 2; }
.maquinas { grid-area: 1 / 2 / 3 / 3; }
.insumos { grid-area: 1 / 3 / 2 / 4; }
.reparaciones { grid-area: 1 / 4 / 2 / 5; }
.otro { grid-area: 2 / 3 / 3 / 5; }

.imagen{
    .maquinas{
        .insumos{
            .reparaciones{
                .otro{
                    @include card700;
                }
            }
        }
    }
}
    
}

/* pagina 1*/

.logo2{
    width:5rem;
    height: 5rem;
}
.T--pagina1{
    @include titulos;
}
.parrafo-1{
    @include card;
    @include parrafos;
    
}
.rectas{
    @include card;
}
.d-block{
    height: 400px;
}